* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

header {
    background-color: #363537;
    text-align: center;
    padding: 1em;

}

footer {
    width: 100%;
    background-color: #363537;
    align-items: center;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    padding: 1em;
}

nav a {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: aliceblue;
    background-color: #ED7D3A;

}

nav a:hover {
    border-bottom: 1px solid whitesmoke;
    text-decoration: overline;
    color: whitesmoke;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #8CD867;
    color: #EF2D56;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.7em;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.align-itmes {
    align-items: center;
}

.btn-box-preview {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0em;
}

.bug-index {
    margin-top: 7.5px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.bug-app {
    min-height: 100vh;
    background-color: rgba(51, 51, 51, 0.689);
}

.main-title {
    text-align: center;
    color: rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}


.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}


.bug-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bug-preview {
    background-color: #333;
    color: whitesmoke;
    border-radius: .3em;
    margin: 5px;
    text-align: center;
    padding: 0.7em;
    min-width: 175px;
}

.bug-preview button {
    color: #EF2D56;
}

.bug-preview button a {
    color: #EF2D56;
}

.bug-preview span {
    color: gold;
}

.edit-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
}

.edit-form input {
    width: 200px;
}

.home-page {
    min-height: 100vh;
    background-image: url(../img/some.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: rgb(2, 24, 8);
}

.home-page h1,
h2 {
    background-color: #363537;

    z-index: 10;
}

.user-sign-area {
    background-color: #419366;
    padding: 0.7em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.btns {
    padding: 0.5em;
}

.user-header h2 {
    background-color: #419366;
}

.bug-filter {
    width: 95vw;
    background-color: #ED7D3A;

}

.pageing {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 0.2em;
}

.filter-form {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}

.admin-page {
    min-height: 90vh;
}

.admin-page h2 {
    text-align: center;
}

.user-preview {
    padding: 0.3em;
}

.user-preview a {
    color: #ED7D3A;
}

.users-list {
    margin: auto;
    width: 200px;
    background-color: #333;
    display: flex;
    padding: 0.3em;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid aliceblue;
}